@use '../scss/Variables.scss' as v;

.MuiOutlinedInput-input {
    height: 1rem !important;
}

.MuiInputBase-input,
.MuiChip-label {
    font-family: v.$font-family !important;
}

.MuiInputLabel-formControl {
    font-family: v.$font-family !important;
}
