@use '../Variables.scss' as v;

.ChatRooms {
  width: 100%;
  height: calc(100vh - 25rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > .loader-wrapper {
    display: flex;
    width: 100%;
    min-width: 4rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: #f5f5f57e;
    border-radius: 10px;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;

    > .loader {
      width: 100%;
      color: v.$primary-color;
      margin-top: -100px;
      width: 4px;
      aspect-ratio: 1;
      border-radius: 50%;
      box-shadow:
        19px 0 0 7px,
        38px 0 0 3px,
        57px 0 0 0;
      transform: translateX(-38px);
      animation: l21 0.5s infinite alternate linear;
      transform: rotate(90deg);
    }

    @keyframes l21 {
      50% {
        box-shadow:
          19px 0 0 3px,
          38px 0 0 7px,
          57px 0 0 3px;
      }
      100% {
        box-shadow:
          19px 0 0 0,
          38px 0 0 3px,
          57px 0 0 7px;
      }
    }
  }

  .chat-rooms-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 1rem;
    background-color: #f5f5f57e;
    border-radius: 10px;
    padding: 1rem;
    padding-right: 0;
    box-sizing: border-box;

    .chat-rooms-header {
      margin: 0;
      padding-left: 0.6rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @media (max-width: 1000px) {
        padding-left: 0;
      }

      @media (max-width: 400px) {
        font-size: v.$font-size-extra-small;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .chat-rooms-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
      overflow-y: scroll;

      @media (max-width: 1000px) {
        gap: 0.5rem;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.062);
        border-radius: 3px;
        transition: background-color 0.2s ease-in-out;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.158);
        transition: background-color 0.2s ease-in-out;
      }

      > .active {
        background-color: #e6e6e6;
      }

      > .chat-room {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-decoration: none;
        color: inherit;
        padding: 1rem 0.6rem;
        border-radius: 10px;
        transition: background-color 0.2s;
        margin-right: 1rem;

        @media (max-width: 1000px) {
          padding: 0.8rem 0.4rem;
        }

        &:hover {
          background-color: #e6e6e6;
        }

        > .chat-room-user-info {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          @media (max-width: 1000px) {
            justify-content: center;
          }

          > .chat-room-info-name-date {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            @media (max-width: 1000px) {
              display: none;
            }

            > .unread {
              font-weight: 600;
            }

            > .chat-room-info-name {
              font-size: v.$font-size-content;
              margin: 0;
            }

            > .chat-room-info-date {
              font-size: 0.75rem;
              color: #666;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
