@use '../Variables.scss' as v;

.ChatRooms {
  width: 100%;
  height: calc(100vh - 19rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .chat-rooms-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 1rem;

    .chat-rooms-header {
      margin: 0;
      padding-left: 0.6rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @media (max-width: 1000px) {
        padding-left: 0;
      }

      @media (max-width: 400px) {
        font-size: v.$font-size-extra-small;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .chat-rooms-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
      scroll-behavior: smooth;
      overflow-y: scroll;

      @media (max-width: 1000px) {
        gap: 0.5rem;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      > .active {
        background-color: #f5f5f5;
      }

      > .chat-room {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-decoration: none;
        color: inherit;
        padding: 1rem 0.6rem;
        border-radius: 10px;
        transition: background-color 0.2s;

        @media (max-width: 1000px) {
          padding: 0.8rem 0.4rem;
        }

        &:hover {
          background-color: #f5f5f5;
        }

        > .chat-room-user-info {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          @media (max-width: 1000px) {
            justify-content: center;
          }

          > .chat-room-info-name-date {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            @media (max-width: 1000px) {
              display: none;
            }

            > .unread {
              font-weight: 600;
            }

            > .chat-room-info-name {
              font-size: v.$font-size-content;
              margin: 0;
            }

            > .chat-room-info-date {
              font-size: 0.75rem;
              color: #666;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
