@use '../Variables' as v;

.UsersAccordion {
  padding: 1rem 0 0 0;
  width: 700px;
  @media screen and (max-width: 1200px) {
    width: 500px;
  }
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 700px) {
    width: 300px;
  }
  .users-accordion-label {
    display: flex;
    align-items: center;
    .users-accordion-label-image {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      border-radius: 90px;
    }
  }
  .users-accordion-details {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2rem 3rem;
    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
    .users-accordion-details-container {
      display: flex;
      gap: 1.5rem;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
    }
    .users-accordion-details-image {
      width: 12rem;
      height: 12rem;
      // margin-right: 0.5rem;
      border-radius: 90px;
    }
    .users-accordion-details-fields {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.5rem 0 0 0;
      .users-accordion-details-fields-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &.name {
          flex-direction: row;
        }
        .users-accordion-details-fields-container-key {
          color: v.$primary-color;
        }
      }
    }
    .users-accordion-details-actions {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0 0 0;
      @media screen and (max-width: 900px) {
        width: 50%;
      }
      gap: 1rem;
    }
  }
  .users-accordion-exaption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    font-size: v.$font-size-large;
  }
}
