@import '../Variables.scss';

.dialog {
  .MuiPaper-root{
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .MuiDialog-container {
    justify-content: center;
    .MuiDialog-paper {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
.before-simple-dialog {
  min-height: 1000px;
  overflow-y: hidden;
}
.SimpleDialog {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  min-height: 500px;
  .simple-dialog-container {
    max-width: 500px;
    border-radius: 10px;
    > .simple-dialog-container-row {
      display: flex;
      flex-direction: column;
      padding: 5px 0 5px 0;
      > .simple-dialog-container-row-key {
        font-size: 22px;
        font-weight: 700;
        padding: 0 0 5px 0;
      }
    }
  }
}

.accordion {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 0 0;
  .accordion-summary {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
  }
  .accordion-form {
    display: grid;
    padding: 10px 50px 50px 50px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
    .accordion-form-description {
      display: flex;
      flex-direction: column;
      gap: 10px;
      // padding: 10px 0 0 0;
      .accordion-form-description-value {
        font-size: 22px;
        .accordion-form-description-value-bold {
          font-weight: 700;
        }
      }
    }
    .accordion-form-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .accordion-form-details-button {
        display: flex;
        align-items: center;
      }
    }
  }
}
