.ChatPage {
  width: calc(100% - 2rem);
  max-width: 1200px;
  padding: 0 1rem;
  padding-bottom: 1rem;
  margin-bottom: -8rem;
  min-height: calc(100vh - 19rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  > .chat-page-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > .chat-page-left {
      width: 25%;
    }

    > .chat-page-right {
      width: 75%;
    }
  }
}
