@use './Variables.scss' as v;

.ConstructorPage {
  min-height: calc(100vh - 17rem);
  max-width: 1000px;
  width: calc(100% - 4rem);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .constructor-page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .constructor-page-main-info-section {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      padding-top: 2rem;

      @media (max-width: 650px) {
        flex-direction: column;
        gap: 2rem;
      }

      > .constructor-page-main-section-content {
        display: flex;
        width: 100%;
        gap: 2rem;

        @media (max-width: 470px) {
          flex-direction: column;
        }

        > .constructor-page-main-section-content-avatar-wrapper {
          height: 100%;
          display: flex;
          gap: 1rem;
          justify-content: center;
          align-items: center;

          @media (max-width: 470px) {
            flex-direction: column;
          }

          > .constructor-page-main-section-content-mobile-name {
            display: none;

            @media (max-width: 470px) {
              display: flex;
              font-size: v.$font-size-medium;
              font-weight: 600;
              margin: 0;
            }
          }

          > .constructor-page-main-section-content-mobile-title {
            display: none;

            @media (max-width: 470px) {
              display: flex;
              font-size: v.$font-size-small;
              margin: 0;
              padding-bottom: 1rem;
              color: #b6b6b6;
            }
          }
        }

        > .open-chat-button-mobile {
          display: none !important;
          gap: 5px !important;
          width: 100% !important;

          @media (max-width: 470px) {
            display: flex !important;
          }
        }

        > .constructor-page-main-section-content-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.3rem;

          @media (max-width: 470px) {
            flex-direction: column;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.123);
            padding: 1rem;
            border-radius: 10px;
          }

          > .constructor-page-main-section-content-info-name {
            font-size: v.$font-size-normal;
            font-weight: 600;
            margin: 0;

            @media (max-width: 550px) {
              font-size: v.$font-size-medium;
            }

            @media (max-width: 470px) {
              display: none;
            }
          }

          > .constructor-page-main-section-content-info-title {
            font-size: v.$font-size-small;
            margin: 0;
            padding-bottom: 1rem;
            color: #b6b6b6;

            @media (max-width: 470px) {
              display: none;
            }
          }

          > .constructor-page-main-section-content-info-icon-wrapper {
            display: flex;
            gap: 5px;
            align-items: center;

            > .constructor-page-main-section-content-info-standard {
              font-size: v.$font-size-small;
              margin: 0;
              line-height: 30px;

              @media (max-width: 550px) {
                font-size: v.$font-size-extra-small;
              }
            }
          }
        }
      }

      > .constructor-page-main-section-interactive {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        > .open-chat-button {
          display: flex !important;
          gap: 5px !important;
          width: min-content !important;

          @media (max-width: 470px) {
            display: none !important;
          }
        }
      }
    }
  }
}
