@import './Variables.scss';

.filtersDialog {
    .filters-dialog-summary {
        font-size: 25px;
    }
    .filters-dialog-details {
        display: flex;
        justify-content: center;
        .filters-dialog-details-label {
            display: flex;
            padding-top: 15px;
            width: 550px;
            justify-content: space-between;
        }
        .filters-dialog-details-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            .filters-dialog-details-box-rating {
                display: flex;     
                align-items: center;
                padding: 20px 0 0 0;
                .filters-dialog-details-box-rating-statement {
                    font-size: $font-size-normal;
                    padding: 0 10px 0 0;
                }
            }
        }
    }
}