@use './Variables' as v;

.Footer {
  width: 100%;
  padding: 0 2rem;
  height: 5rem;
  background-color: v.$main-background-color;
  border-top: 1px solid rgba(128, 128, 128, 0.315);
  box-sizing: border-box;
}
