@use './Variables' as v;

.Footer {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 5rem;
    background-color: v.$main-background-color;
    border-top: 1px solid rgba(128, 128, 128, 0.315);
}
