@use './Variables' as v;
@import url('https://fonts.googleapis.com/css?family=Gabarito&display=swap');

.HomePage {
  width: calc(100% - 4rem);
  max-width: 1000px;
  padding: 0 2rem;
  min-height: calc(100vh - 26rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  > .home-page-main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    margin-top: 2rem;
    gap: 1rem;

    > .home-page-main-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.123);
      border-radius: 10px;
      width: 60%;

      @media (max-width: 780px) {
        width: 100%;
      }

      > .home-page-main-left-title-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-bottom: 1rem;

        > .home-page-main-left-title-icon {
          height: 2.2rem;
        }

        > .home-page-main-left-title {
          font-size: v.$font-size-content;
          color: #3333338c;
          margin: 0;

          @media (max-width: 440px) {
            font-size: v.$font-size-extra-small;
          }
        }
      }

      > .home-page-main-left-heading {
        font-size: v.$font-size-large;
        margin: 0;
        margin-bottom: 1rem;

        @media (max-width: 540px) {
          font-size: v.$font-size-normal;
        }

        @media (max-width: 430px) {
          font-size: v.$font-size-medium;
        }
      }

      > .home-page-main-left-text {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        border-left: solid 2px #3333332f;
        padding-left: 1rem;
        margin-bottom: 2rem;

        > .home-page-main-left-constructors-count-wrapper {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;

          > .home-page-main-left-constructors-count-standard {
            margin: 0;
            font-size: v.$font-size-medium;

            @media (max-width: 430px) {
              font-size: v.$font-size-small;
            }

            @media (max-width: 340px) {
              font-size: v.$font-size-extra-small;
            }
          }

          > .home-page-main-left-constructors-count-green {
            margin: 0;
            font-size: v.$font-size-medium;
            color: v.$primary-color;
            font-weight: 600;

            @media (max-width: 340px) {
              font-size: v.$font-size-extra-small;
            }
          }
        }

        > .home-page-main-left-text-find {
          font-size: v.$font-size-medium;
          margin: 0;

          @media (max-width: 430px) {
            font-size: v.$font-size-small;
          }

          @media (max-width: 340px) {
            font-size: v.$font-size-extra-small;
          }
        }
      }

      > .search-button {
        width: min-content;
        justify-self: flex-end;
      }
    }

    > .home-page-main-right {
      width: 40%;
      display: flex;
      align-items: center;

      @media (max-width: 780px) {
        display: none;
      }

      > .home-page-house-img {
        width: 100%;
        object-fit: scale-down;
      }
    }
  }

  > .home-page-timeline-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;

    > .home-page-timeline {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.123);
      border-radius: 10px;
      width: 60%;

      @media (max-width: 780px) {
        width: 100%;
      }

      > .home-page-timeline-headline {
        font-size: v.$font-size-large;
        margin: 0;
        margin-bottom: 1rem;

        @media (max-width: 540px) {
          font-size: v.$font-size-normal;
        }

        @media (max-width: 430px) {
          font-size: v.$font-size-medium;
        }
      }
    }

    > .home-page-house-img {
      width: 40%;
      object-fit: scale-down;

      @media (max-width: 780px) {
        display: none;
      }
    }
  }

  > .home-page-carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
