$primary-color: #1cbe8e;
$primary-color-dark: #23886a;
$primary-color-light: #5af1c4;
$secondary-color: #d8ac79;
$error-color: #ff0000;
$main-background-color: #ffffff;
$main-background-color-dark: #202124;
$font-size-small: 0.9rem;
$font-size-medium: 1.2rem;
$font-size-normal: 1.5rem;
$font-size-large: 2rem;
$font-size-logo: 3rem;
$font-size-user-email: calc(5px + 1vw);
$font-size-user-title: calc(4px + 1vw);
$font-family: Gabarito;
